* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prostar-container {
    background-color: #8854D0;
}

.prostar-container div:first-child {
    background-color: #E9ECEF;
    height: 20vh;
    /* display: flex; */
    /* justify-content: center; */
}

h2 {
    font-size: 3.3rem;
    font-weight: 500;
    padding-top: 0.5em;
}


table {
    background-color: #FFFFFF;
    margin-top: 10vh;
    margin-left: 17vw;
    width: 70vw;
}

th {
    border: 0.5px solid #DFDFDF;
    color: #212529;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5em 0;
}

td {
    border: 0.5px solid #DFDFDF;
    width: 12vw;
    padding: 1em 1em;
    vertical-align: top;
    font-size: 1.2em;
}

img {
    height: 200px;
    width: 150px;
}

.deleteBtn {
    background-color: #DC3545;
    color: whitesmoke;
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 5px;
}


.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:38vw;
    position: relative;
    top: 9vh;
    left: 33vw;
}

.filterBtn {
    width: fit-content;
    height: 2em;
    padding: 0 2em;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

#filterBtn-1 {
    background-color: #007BFF;
}

#filterBtn-2 {
    background-color: #6C757D;
}

#filterBtn-3 {
    background-color: #17A2B8;
}

.filterBtn:focus {
    transform: scale(1.1);
    border: 1px solid currentColor;
}
